@{
	ViewBag.Title = "AddBeer";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cellar a Beer</h2>

<form>
	<label for="beerName">What beer are you adding?</label>
	<input name="beerName" />
</form>
